{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-recommended-vue"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "alpha-value-notation": "number"
  },
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["components/**/*.css", "pages/**/*.css"],
      "rules": {
        "alpha-value-notation": "percentage"
      }
    }
  ]
}
